* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {

}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
}

.mainWrapper {
    min-height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 3% 1fr 3%;
}

.nav {
    border: 1px solid black;
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav ul {
    list-style-type: none;
}

.nav li {
    display: inline;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebarProjectTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.sidebarBtns, .sidebarProjectBtns{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.sidebarBtns  button, .sidebarProjectBtns button {
    margin: 10px;
    padding: 10px;
}

.currentProject {
    border: 1px solid black;
    padding: 10px;
}

footer {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#newTaskForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.2s ease-in;
}

.priorities {
    display: flex;
    flex-direction: column;
}

#newProjectForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 0.2s ease-in;
}

#selectProjectForm {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    opacity: 1;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    position: relative;
}

.cardBtn {
    background-color: #bbb;
    color: black;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activeCard, .cardBtn:hover {
    filter: brightness(85%);
}

.cardBtnContent {
    display: flex;
    justify-content: start;
    align-items: center;
}

.cardBtnContent h3 {
    padding-right: 10px;
}

.cardBtnContent p {
    font-size: 1rem;
}

.cardContent {
    padding: 0 20px;
    display: none;
    flex-direction: column;
    overflow: hidden;
    background-color: #f1f1f1;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.cardContent p {
    padding: 5px 0;
}

.cardActionBtns {
    position: absolute;
    top: 30%;
    right: 30px;
}

.cardBtn:after {
    content: '\02795';
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
    filter: brightness(85%);
}

.activeCard:after {
    content: "\2796";
    color: black;
}