* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {

}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    min-width: 100%;
    
}

.mainWrapper {
    padding: 0 40px;
    width: 100vw;
    height: 100vh;  
    display: grid;
    grid-template-columns: minmax(150px, 15%) 1fr;
    grid-template-rows: 5% 1fr;
    
}

.nav {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav div {
    width: 50%;
}

.sidebar {
    border: 1px solid black; 
}

.mainGroup, .projectGroup {   
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.mainGroup button, .projectGroup button {
    margin: 10px 0;
}

.addTaskBtn {
    position: relative;
    right: 0;
    top: 0;
}

#projectForm {
    width: 250px;
    height: 250px;
    position: fixed;
    margin: 0 auto;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: none;
    flex-direction: column;
}

#taskForm {
    width: 370px;
    height: 370px;
    position: fixed;
    margin: 0 auto;
    left: calc(50% - 185px);
    top: calc(50% - 185px);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#addToProjectForm {
    width: 250px;
    height: 250px;
    position: fixed;
    margin: 0 auto;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardSection {
    border: 1px solid black;
    
    display: flex;
    flex-direction: column;
}

.todaySection, .completedTasksSection, .newPage {
    border: 1px solid black;
    display: none;
    flex-direction: column;
}

.card {
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;;
}

.card p {
    padding: 5px;
}


.btnWrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
}